@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

small {
  font-size: 1.4rem;
}

article {
  padding: 2% 10%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.jumbotron {
  height: 100vh;
  padding-top: 25vh;
  background-color: #252a44;
  color: white;
  text-align: center;
}

#greeting {
  font-size: 5.5rem;
  letter-spacing: -0.3rem;
}

#myName {
  color: lightgreen;
}

#occupation {
  color: coral;
}

#passion {
  color: yellow;
}

#openSource {
  color: lightskyblue;
}

#subtitle {

}

.carousel-inner {
  height: 400px;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-item img, .iframe-wrapper iframe {
  display: block;
  max-width: 325px;
  max-height: 325px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-img {
  max-height: 75px;
  border-radius: 15px;
}

#experience-icon {
  float: left;
  margin: 3rem;
  font-size: 12rem;
}

.project-desc {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.inline-text {
  display: inline-block;
}

.lg-header, .md-header, .sm-header {
  margin-bottom: 0.1rem;
}

.lg-header {
  font-size: 3.5rem;
}

.md-header {
  font-size: 3rem;
}

.sm-header {
  font-size: 2.5rem;
}

.carousel-indicators li {
  background-color: #a3a3a3;
  opacity: 0.75;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.carousel-indicators li.active {
  background-color: lightgreen;
}

.light-feature {
  background-color: white;
}

.dark-feature {
  background-color: #f5f5f5;
}



/* large screens */
@media (min-width: 1080px) {

  .jumbotron {
    height: 50vh;
    padding-top: 15vh;
  }

  #greeting {
    font-size: 8rem;
  }

  .md-header {
    color: red;
  }

  .carousel-inner {
    height: 900px;
  }

  .carousel-item img, .carousel-item iframe {
    max-width: 825px;
    max-height: 825px;
  }
}

/* medium screens */
@media (min-width: 767px) and (max-width: 1079px) {
  .jumbotron {
    height: 50vh;
    padding-top: 15vh;
  }

  .md-header {
    color: red;
  }

  .carousel-inner {
    height: 600px;
  }

  .carousel-item img, .carousel-item iframe {
    max-width: 525px;
    max-height: 525px;
  }
}